html {
    font-size: 100%;
    font-family: 'vazir' , sans-serif;
    height: 100%;
}
body {
    background: linear-gradient(to right, #00d2ff, #928dab);
    
    min-height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
    .container {
        display: grid;
        grid-template-rows: [first] 17% [second] 10% [third] 40%;
    }
    .header {
        display: flex;
        justify-content: space-between;
        padding: 1rem;
        background: linear-gradient(to right, #2980b9, #2c3e50);
        border-radius: 5px;
        border: 4px solid gray;
        border-left-color: #2c3e50;
        border-right-color:aliceblue ;
        border-top: none;
        border-bottom: none;
        margin: .3rem;
        #h1 {
            font-weight: 600;
            align-self: center;
            font-size: 2.8rem;
            color: whitesmoke;
        }
        .Login {
            align-self: center;
            border: 1px solid rgb(183, 183, 183);
            border-radius: 5px;
            padding: .5rem;
            padding-top: .6rem;
            transition-duration: .5s;
            color: gray;
        }
        .Login:hover {
            background-color: #2980b9;
            color: white;
            box-shadow: 3px 3px 3px rgb(196, 196, 196);
        }
    }
    .content {
        display: flex;
        .pic1 {
            display: flex;
            justify-content: center;
            .pic-p {
                background-image: url('9d9dd9e4-e84a-402e-ba8f-daa659e6e6c5-PhotoWord_003.webp');
                background-size: cover;
                background-repeat: no-repeat;
                background-position: 70%;
                width: 25%;
                padding: 1rem;
                border-radius: 10px;
                color: white;
                transition-duration: .5s;
                margin: .5rem;
                filter: blur(2px);
            }
            .paragraph {
                visibility: hidden;
            }
            .pic-p:hover .paragraph {
                visibility: visible;
                
            }
            .pic-p:hover {
                transform: translateY(-10px);
                
                cursor: pointer;
                filter: blur(0);
            }
            .pic-p2 {
                width: 25%;
                background-image: url('what-is-unsplash.webp');
                padding: 1rem;
                border-radius: 10px;
                background-size: cover;
                transition-duration: .5s;
                margin: .5rem;
                color: white;
                filter: blur(2px);
            }
            .pic-p2:hover {
                filter: blur();
                transform: translateY(-10px);
                cursor: pointer;
                filter: blur();
            }
            .para {
                visibility: hidden;
            }
            .pic-p2:hover .para {
                visibility: visible;
            }
        }   
        }
    }
*{
    padding: 0;
    margin: 0;
}
#footer {
    background: linear-gradient(to left, #2980b9, #2c3e50);  
    text-align: center;
    padding: 1.5rem;
    color: aliceblue;
}
